<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Early dark mode application to prevent flickering -->
    <script>
        (function () {
            const darkMode = localStorage.getItem('darkMode');
            if (darkMode === 'enabled') {
                document.documentElement.classList.add('dark-mode'); 
            }
        })();
    </script>

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vladi.revolution.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> VLADI REVOLUTION</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa-solid fa-bars"></i></span>
                    <span class="ms-2 d-inline d-sm-none">Meniu</span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link fs-5" asp-controller="Players" asp-action="Index"> Jucători </a></li>
                        <li class="nav-item"><a class="nav-link fs-5" asp-controller="Matches" asp-action="Index"> Meciuri </a></li>              
                        <li class="nav-item"><a class="nav-link fs-5" asp-controller="Transfers" asp-action="Index"> Transferuri </a></li>
                        <li class="nav-item"><a class="nav-link fs-5" asp-controller="Accidents" asp-action="Index"> Accidentări </a></li>
                        <li class="nav-item"><a class="nav-link fs-5" asp-controller="Staff" asp-action="Index"> Staff </a></li>
                    </ul>
                    <partial name="_Identity" />
                </div>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-muted mt-auto py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="copyright">
                &copy; 2024 - VLADI REVOLUTION
            </div>
            <div class="switch-container d-flex align-items-center">
                <span id="modeIcon">
                    <i class="bi bi-brightness-high"></i>
                </span>
                <label class="switch">
                    <input type="checkbox" id="darkModeToggle" onclick="toggleDarkMode()">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
