@*Define Model*@
@model vladi.revolution.Models.Accident

@*Define ViewData*@
@{
    ViewData["Title"] = "Adaugă accidentare - Vladi Revolution";
}

@*Write Code*@
<div class="d-flex justify-content-center text-center">
    <div class="row">
        <div class="col-md-12">
            &nbsp; <h1> Adaugă accidentare </h1> &nbsp;
            <form asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PlayerId">Select Player</label>
                    <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.Players"></select>
                </div>
                &nbsp;
                <div class="form-group">
                    <label asp-for="AccidentFrom" class="control-label"></label>
                    <input asp-for="AccidentFrom" type="date" class="form-control w-100" />
                    <span asp-validation-for="AccidentFrom" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group">
                    <label asp-for="AccidentTo" class="control-label"></label>
                    <input asp-for="AccidentTo" type="date" class="form-control w-100" />
                    <span asp-validation-for="AccidentTo" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group">
                    <label asp-for="AccidentType" class="control-label"></label>
                    <input asp-for="AccidentType" class="form-control w-100" />
                    <span asp-validation-for="AccidentType" class="text-danger"></span>
                </div>
                &nbsp;
                <div class="form-group">
                    <input type="submit" value="Adaugă" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Înapoi la Transferuri</a>
                </div>
            </form>
        </div>
    </div>
</div>